<h1>Test questions</h1>

<p>
  <%= link_to 'Create new question', new_test_question_path(@test)%>
</p>

<table>
  <tr>
    <th>Question(s):</th>
    <th colspan="3">Actions:</th>
  </tr>

  <%= render @test.questions %>
  
</table>
