<h1>Create new question</h1>

<form action="/tests/3/questions" method="post">
  <input name="authenticity_token" value="<%=form_authenticity_token%>" type="hidden">
  <input type="hidden" name="question[test_id]" value="<%= params[:test_id] %>">

  <p>
    <label for="question-title">Question body:</label>
    <input type="text" name="question[body]" id="question-title">
  </p><br>

  <input type="submit" value="Create">
</form>

