<h1> <%= t('.header', title: @user_answer.test.title) %> </h1>

<% if @user_answer.success? %>
  <p style="color: green"> <%= t('.success', score: "#{@user_answer.passage_percentage}") %> </p>
  <% else %>
  <p style="color: red"> <%= t('.fail', score: "#{@user_answer.passage_percentage}") %> </p>
<% end %>

<%= link_to t('nav_buttons.back'), tests_path %>