<h2> <%= t('.header', title: @user_answer.test.title) %> </h2>

<% if @user_answer.success? %>
  <div class="alert alert-success" role="alert"><%= t('.success', score: "#{@user_answer.passage_percentage}") %> </div>
  <% else %>
  <div class="alert alert-danger" role="alert"> <%= t('.fail', score: "#{@user_answer.passage_percentage}") %> </div>
<% end %>

<%= link_to t('nav_buttons.back'), tests_path, class: 'btn btn-primary' %>