<nav class="navbar" style="background-color: #e3f2fd;">
  <%= link_to t('.admin_nav_panel'), admin_tests_path, class: 'navbar-brand px-4' %>
 
  <span class="navbar-text px-4">
    <%= t('.welcome') %> <b><%= current_user.email %></b> Guru! |
      <button type="button" class="btn btn-outline-secondary btn-sm">
        <%= button_to t('nav_buttons.logout'), destroy_user_session_path, method: :delete, data: { turbolinks: false } %>
      </button>
  </span>
</nav>
