<div class="container-sm">
  <% flash.each do |type, msg| %>
    <% if type == :alert%>
      <div class="alert alert-danger" role="alert">
        <%= msg %>
      </div>
    <% else %>
      <div class="alert alert-success" role="alert">
        <%= msg %>
      </div>
    <% end %>
  <% end %>
</div>