<footer>
  <div class="row px-4">
    <div> Project: <%= github_url(author = 'sanjar-kazakov', repo = 'TestGuru')%>. </div>
      <div>
        A learning project at the online school 
        <%= link_to "Thinknetica", "https://thinknetica.com/", target: "_blank"%>, 
        featuring a web application for creating and taking tests.  
      </div>
    <p>&copy; S.Kazakov</p>
    <p><%= current_year %></p>
  </div>
</footer>
  
