<footer>
  <div class="row px-4">
    <div> Проект: <%= github_url(author = 'sanjar-kazakov', repo = 'TestGuru')%>. </div>
      <div>
        Учебный проект в онлайн-школе 
        <%= link_to "Thinknetica", "https://thinknetica.com/", target: "_blank"%>, 
        включающий веб-приложение для создания и прохождения тестов.  
      </div>
    <p>&copy; С. Казаков</p>
    <p><%= current_year %></p>
  </div>
</footer>