<footer>
  <div> Project: <%= github_url(author = 'sanjar-kazakov', repo = 'TestGuru')%>. </div>
  <div>
    A learning project at the online school 
    <%= link_to "Thinknetica", "https://thinknetica.com/", target: "_blank"%>, 
    featuring a web application for creating and taking tests.  
  </div>
  <p>Author: S.Kazakov</p>
  <p><%= current_year %></p>
</footer>