<% if user_signed_in? %>
  <div class="nav log"><%= button_to 'Log out', destroy_user_session_path, method: :delete, data: { turbolinks: false } %></div>

  <p class="nav user">Welcome, 
    <b>
      <%= current_user.first_name %>
    </b>
    <%= link_to 'Guru', root_path %>
  </p> 

<% end %>

