<% if user_signed_in? %>
  <div class="nav log"><%= button_to t('nav_buttons.logout'), destroy_user_session_path, method: :delete, data: { turbolinks: false } %></div>

  <p class="nav user">
    <%= t('.welcome', user: current_user.first_name) %>
      <%= link_to 'Guru', root_path %>
  </p> 

<% end %>

