.flash {
  display: inline-block;
  border: 2px solid;
  padding: 10px;
  border-radius: 5px;
  max-width: 80%;
}

.flash.alert {
  background-color: #f8d7da;
  border-color: #f5c6cb;
  color: #721c24;
}

.flash.notice {
  background-color: #b1f4c1;
  border-color: #b8f1c5;
  color: #155724;
}
